* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.promo {
    background-image: url("../img/promo.png");
    height: 789px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}
.active{
    color: #FFC700 !important;
}
.menu:hover {
    color: #FFC700 !important;
}

.burger_menu {
    background: none;
    border: none;
    display: none;
}

.burger_menu span {
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    display: block;
    margin-bottom: 5px ;

}

.promo h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    color: #FFFFFF;
    max-width: 790px;
    margin-top: 100px;
}

.promo_btn {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-top: 100px;
    border: none;
}

.tours {
    padding: 89px 0 110px;
    min-height: 763px;
}

.tours_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.tours_head a {
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}
.title1 {
    font-weight: 700;
    font-size: 24px;
    /* line-height: 59px; */
    margin-top: 10px;
    color: #0499DD;
}

.link_more {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #282828;
}

.link_more:hover {
    text-decoration: none;
}

.tours_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 38px;
}

.tours_item {
    width: 50%;
    min-height: 497px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 230px 15px 40px;
    color: #FFFFFF;
    margin-top: 20px;
}

.tours_item h3 {
    color: #FFC700;
}

.tours_item p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
}

.button {
    width: 160px;
    height: 40px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    margin-top: 40px;
}

.tours_details {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 12px;
    margin-top: 12px;
}

.tours_details .time,
.tours_details .price {
    display: flex;
    align-items: center;
    gap: 5px;

}

.about {
    min-height: 750px;
    background-image: url(../img/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 136px 0px;
}

.about_content {
    max-width: 542px;
    min-height: 476px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 60px 75px 105px 85px;
    margin: 0 auto;
}

.about .title {
    margin-bottom: 40px;
}

.about p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.kinds {
    padding: 89px 0 110px;
    min-height: 763px;
}

.grid {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px 240px;
    column-gap: 20px;
    row-gap: 20px;

}

.item {
    display: flex;
    gap: 20px;

}

.end_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 60px;
    color: #282828;
    width: 550px;
    margin: 0 auto;

}

.text {
    display: flex;
    padding: 60px 0 20px;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    color: #282828;
}

.end_txt .promo_btn {
    margin: 30px auto;
}

.grids {
    padding: 89px 0 110px;
    min-height: 763px;
}

.img {
    position: absolute;
    width: 400px;
    height: 281px;
}

.leftn1{
    width: 400px;
    height: 281px;
    margin-bottom: 20px;
    background-image: url(../img/1.png);
    
}

.leftn2{
    width: 172px;
    height: 263px;
    position: absolute;
    top: 0;
    left: 0%;
    background-image: url(../img/5.png);
}

.leftn3{
    width: 212px;
    height: 123px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/6.png);
}

.leftn4{
    width: 212px;
    height: 123px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/7.png);
}

.n2{
    width: 400px;
    height: 263px;
    position: relative;
}
.center-bot{
    width: 288px;
    height: 567px;
    background-image: url(../img/2.png);
}

.right-bot{
    width: 400px;
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightn1{
    width: 212px;
    height: 264px;
    background-image: url(../img/3.png);
}

.rightn2{
    width: 172px;
    height: 264px;
    background-image: url(../img/4.png);
}

.rightn3{
    width: 400px;
    height: 280px;
    background-color: blue;
    border-radius: 5px;
    background-image: url(../img/8.png);
}

.m1{
    display: flex;
    justify-content: space-between;
}

.item5{
    width: 1120px;
    margin: 116px auto;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}